@model RoboWalk.Models.RoboInputModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RoboWalk</title>
</head>
<body>
    

</body>
</html>
